<body>
    <div class="container d-flex flex-column justify-content-around align-items-center" style="width: auto;height: auto;">
        <section class="py-4 py-xl-5" style="height: auto;">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div>
                            <h2 class="text-uppercase fw-bold mb-3">Projeto para projetos</h2>
                            <p class="mb-4">Etiam a rutrum, mauris lectus aptent convallis. Fusce vulputate aliquam, sagittis odio metus. Nulla porttitor vivamus viverra laoreet, aliquam netus.</p><button class="btn btn-primary fs-5 me-2 py-2 px-4" type="button">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="d-flex justify-content-center align-items-center flex-wrap">
            <div class="card" style="margin: 1rem;">
                <div class="card-body" style="text-align: center;width: 300px;max-width: 400px;height: auto;">
                    <h4 class="card-title">Lista de Tarefas</h4>
                    <h6 class="text-muted card-subtitle mb-2">Dia</h6>
                    <ul class="list-unstyled">
                        <li class="text-center">Tarefa</li>
                        <li class="text-center">Item 2</li>
                        <li class="text-center">Item 3</li>
                        <li class="text-center">Item 4</li>
                    </ul><a class="card-link" href="#">Link</a>
                </div>
            </div>

            <div class="card" style="margin: 1rem;">
                <div class="card-body" style="text-align: center;width: 300px;max-width: 400px;height: auto;">
                    <h4 class="card-title">Revisão Aleatório</h4>
                    <h6 class="text-muted card-subtitle mb-2">Dia</h6>
                    <p>Textoooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo</p><a class="card-link" href="#">Link</a>
                </div>
            </div>
            
        </div>
        
    </div>
</body>
