@model ProjetoParaProjetos.Models.CasoClinico

@{
 ViewData["Title"] = "Create";
}

<style>
  .bg-primary {
    background-color: #0099cc !important;
  }

  .btn-primary {
    background-color: #66cc66 !important;
    border-color: #66cc66 !important;
  }

  .text-primary {
    color: #0099cc !important;
  }
</style>

<h1 class="text-center text-primary">Create</h1>

<h4 class="text-center text-primary">Descreva o caso clinico com o máximo de detalhes</h4>
<hr />
<div class="container">
 <div class="row justify-content-center">
 <div class="col-md-6">
 <form asp-action="Create">
 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
 <div class="form-group">
 <label asp-for="Caso" class="control-label"></label>
<textarea asp-for="Caso" class="form-control"></textarea>
 <span asp-validation-for="Caso" class="text-danger"></span>
 </div>
 <div class="form-group">
 <input type="submit" value="Create" class="btn btn-primary btn-block" />
 </div>
 </form>
 </div>
 </div>
</div>

<div class="text-center">
 <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
 @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
